<nav class="navbar navbar-expand bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand " href="#">Avi's Blogs</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <% if (locals.userHome) { %>
        <li class="nav-item">
          <a class="nav-link" href="/add-blogs">Add Blogs</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <%= userHome.fullName %>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/logout">LogOut</a></li>
          </ul>
        </li>

        <% } else{%>
        <li class="nav-item">
          <a class="nav-link" href="/signIn">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signUp">Sign Up</a>
        </li>

        <%}%>
      </ul>
      <% if (locals.userHome) { %>
      <div class="pf">
        <img
          class="pf"
          src="<%=userHome.imageLink %>"
          alt="profile"
          height="80px"
          width="80px"
          style="border-radius: 50%; object-fit: cover"
        />
      </div>
      <% } %>
    </div>
  </div>
</nav>
<% if (locals.errorMsg) { %>
<div class="alert alert-danger" role="alert">Password incorrect</div>
<% } %>
